# Archivos y directorios ignorados por Git

# Entorno virtual
.venv/

# Archivos de configuración de entorno
.env

# Archivos de Python
__pycache__/
*.pyc
*.pyd
*.pyo

# Logs
*.log

# Archivos de IDE (VS Code)
.vscode/

# archivo propios ignorados
credentials.json
drive_changes_token.json
credencial_b64.txt
credencial_b64.txt