# Archivos y directorios ignorados por Git

# Entorno virtual
.venv/

# Archivos de configuración de entorno
.env

# Archivos de Python
__pycache__/
*.pyc
*.pyd
*.pyo

# Logs
*.log

# Archivos de IDE (VS Code)
.vscode/